body{
    background-color: #2371ca;
    text-align: center;
    font: Arial 14px;
    color: white;
}

#dados {
    background-color: #fff;
    width: 400px;
    height: 300px;
    color: black;
    padding-top: 2em;
    border-radius: 1em;
    margin: auto;
    
}

